body {
  color: #333333;
  letter-spacing: 1.5px;
  line-height: 1.6;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
}

.txtxs {
  font-size: 14px;
  font-weight: 300;
}

.txts {
  font-size: 16px;
  font-weight: 600;
}

.txtm {
  font-size: 20px;
  font-weight: 600;
}

.txtl {
  font-size: 28px;
  font-weight: 600;
}

.yellowtxt {
  color: #ebb94d;
}